.blog-header{
    padding-top: 10rem;
}
.blogs-h1{
    color: #fc6b4f;
    font-weight: 900;
    display: inline-block;
}
.blogs-h5{

    color: #fc6b4f;
    font-weight: 400;
    padding-top: 10px;
    display: inline-block;
}