.about-container{
    background-image: url("../../Image/about-banner.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 380px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-h1{
    color: #fff;
    font-weight: 900;
}
.about-h5{

    color: #fff;
    font-weight: 400;
    padding-top: 10px;
}

.teacher-text{
    color: #fc6b4f;
    font-weight: 900; 
}