.img-height{
    height: 650px;
}
.carousel-caption{
    bottom:10rem;
}
.banner-title{
    font-size:4rem;
}

.banner-btn{
    background-color: #2ac465;
    padding: 10px 20px;
    color: white;
    border: none;
}
.banner-btn:hover{
    background-color: #24ab58;
}